ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
footer {
  display: block;
}
h10{
  font-weight: bold;
  font-weight: 900;
}
.carousel-fade{

}
img {
  width: 100%;
  height: auto;
}
.background {
  background-image: url('https://gifer.com/embed/J59.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

